@model Beer.Model.Item



@{
    ViewBag.Title = "Create";
    ViewBag.Header = Styles.Render("~/bundles/barcodecss");
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Item"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Item</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Bier, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("BId", ViewBag.BierLijst as SelectList, htmlAttributes: new { @class = "form-control", @id = "BId" })
                @Html.ValidationMessageFor(model => model.Bierid, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Locatie, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("LId", ViewBag.LocatieLijst as SelectList, htmlAttributes: new { @class = "form-control", @id = "LId" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Aantal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Aantal, new { htmlAttributes = new { @type = "number", @min = "0", @step = "1", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Aantal, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HoudsbaarheidDatum, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HoudsbaarheidDatum, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HoudsbaarheidDatum)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Openbaar, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.CheckBoxFor(model => model.Openbaar, new { @checked = true, @class = "text-danger col-md-2" })
                    @Html.ValidationMessageFor(model => model.Openbaar, "")
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Voeg toe" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div id="interactive" class="viewport"></div>


<div>
    @Html.ActionLink("Terug naar lijst", "Index")
</div>


@{
    ViewBag.PageScript = Scripts.Render("~/bundles/BarcodeScanner");
}
