@model Beer.Model.Item

@Scripts.Render("~/bundles/BarcodeScanner")
@Styles.Render("~/bundles/barcodecss")

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Item"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Item</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Bier, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("BId", ViewBag.BierLijst as SelectList, htmlAttributes: new { @class = "form-control", @id = "BId" })
                @Html.ValidationMessageFor(model => model.Bierid, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Locatie, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("LId", ViewBag.LocatieLijst as SelectList, htmlAttributes: new { @class = "form-control", @id = "LId" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Aantal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Aantal, new { htmlAttributes = new { @type = "number", @min = "0", @step = "1", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Aantal, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Openbaar, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.CheckBoxFor(model => model.Openbaar, htmlAttributes: new { @checked = true })
                    @Html.ValidationMessageFor(model => model.Openbaar, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Voeg toe" class="btn btn-default" />
            </div>
        </div>
    </div>
}
            

<div>
    @Html.ActionLink("Terug naar lijst", "Index")
</div>


@{
//TODO Barcode scanner for easy adding to items
}
@*<form>
            <input type="file" accept="image/*;capture=camera">
        </form>


    @*<div id="barcode">
        <video id="barcodevideo" autoplay></video>
        <canvas id="barcodecanvasg"></canvas>
    </div>
    <canvas id="barcodecanvas"></canvas>
    <div id="result"></div>


    <script type="text/javascript">

        var sound = new Audio("../../Media/sound/barcode.wav");

        $(document).ready(function () {
        barcode.config.start = 0.1;
        barcode.config.end = 0.9;
        barcode.config.threshold= 160;
        barcode.config.quality= 0.45;
        barcode.config.video = '#barcodevideo';
        barcode.config.canvas = '#barcodecanvas';
        barcode.config.canvasg = '#barcodecanvasg';
        barcode.setHandler(function(barcode) {
            $('#result').html(barcode);
        });
        barcode.init();

        $('#result').bind('DOMSubtreeModified', function(e) {
            sound.play();
        });

    });

    </script>*@