@model IEnumerable<Beer.Model.Bier>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Label)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Temperatuur)
        </th>
        <th>
            Inhoud
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Barcode)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Label)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temperatuur)
                °C
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inhoud.Capaciteit)
                @Html.DisplayFor(modelItem => item.Inhoud.Eenheid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Barcode)
            </td>
            <td>

                @if ((item.AspNetUsersId) != null)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                    <text> | </text>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                }
            </td>
        </tr>
    }

</table>
